#deep{
   width: 100%;
}
.change{
   width: 100%;
}
*{
    font-family: "system-ui", sans-serif;
    color: #333340;
}
hr{
    margin: 40px;
}
#Productdiv>div>:nth-child(4){
    text-decoration-line: line-through;
}
#Productdiv>div>:nth-child(3){
   font-weight: bolder;
   color: black;
}
#Productdiv>div>:nth-child(1){
    height: 200px;
    width: 200px;
}
#Productdiv>div>:nth-child(2){
   font-size: medium;
   color: #003380;
   line-height: 20px;
}
#Productdiv>div>:nth-child(6){
    border: 1px solid #31812E;
    border-radius: 40px;
    color:#3C883A;
    font-size: 10px;
    font-weight: bold;
    background-color: #EFFCF5;
 }
 #Productdiv>div{
   line-height: 10px;
 }

 #Productdiv,#Productdiv2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
 #onlyimages,.onlyimages{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
 }
 #onlyimages>div>img{
    width: 300px;
    height: 250px;
 }
 #Productdiv2,.mhead{
    text-align: center;
 }
 #mdiv>button{
    margin-left: 45%;
    width: 130px;
    padding: 10px;
    border-radius: 40px;
    background-color: #003380;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    border: none;
 }
 #mdiv{
    background-color: #F7F7F7;
    padding: 20px;
 }
.onlyimages>div{
border: 1px solid gray;
text-align: center;
padding: 20px;
line-height: 0%;
border-radius: 5px;
background-color: #F7F7F7;
height: 70px;
}

.mimg{
   width: 125%;
   height: 300px;
}

img,h5,button:hover{
   cursor: pointer;
}
#Productdiv>div>:nth-child(2):hover{
   color: red;
}
a{
  text-decoration: none;
}
#hhh{
   font-size: medium;
   color: #003380;
}
#hhh:hover{
   color: red;
}
 

