#register{
    border: 1px solid silver;
    width:560px;
    height:600px;
    margin: auto;

    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 25px;
    border-bottom: black;
}

.line{
    width:560px;
}
.para{
    margin-left: 30px;
    font-weight: bolder;
    font-size: 20px;
}
form{
    margin-top: 30px;
}
input{
    margin-left: 50px;
    width:438px;
    height:35px;
}
button{
    margin-left: 50px;
    width: 442px;
    height:45px;
    background-color: rgb(228,37,41);
    color: whitesmoke;
    font-weight: bolder;
    font-size: 20px;
    border:none
    
}
#char{
    display: flex;
    justify-content: center;
}
.login{
    color:rgb(228,37,41);
    margin-left: 6px;
    font-weight: bolder;
    text-decoration: none;
}