#header{
    width:100%;
    height: 100px;
    background-color: rgb(228,37,41);
    
}
.logincart img{
    
    height:20px;
    /* background-color: whitesmoke; */
}
.logincart{
  display:flex;
}
.middlebox{    
    margin:5px;
    height:65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.reliancelogo{
    width:150px;    
    margin-left: 60px;
}
#searchbar{    
    display: flex;
}
#searchbar>input{
  height: 37px;
  width:400px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  border:transparent;
  border-radius: 40px;
}

.logincart{
    display:flex;
    align-items: center;
    /* margin-left: 275px; */
    justify-content: right;  
    

}
.lgp{
    margin-left: 10px;
    color: whitesmoke;
    text-align: center;
}

.location{
    height:20px;
    border:none;
}
.store{
    
    height: 25px;
    
    display:flex;
    margin-left: 10px;
    color:whitesmoke;
    align-items: center;
    
    justify-content: flex-end;
    
    }
    .locationlogo{
        height:20px;
        
    }
    .position{
        margin-right: 20px;
        align-content: flex-end;
        
    }
    

    
    

   
   
  
    #header a{
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
    }
    

    #footer{
        background-color: rgb(31,73,133);
    }
    .cont1{
        display: flex;
        width:100%;
        height: 350px;
        
    
    }
    .cont1>div{
        width:25%;
        height:350px;
        
        color:whitesmoke;
        padding-left: 40px;
        padding-top: 10px;
        
    
    }
    .cont1>div>h4:hover,p:hover{
        cursor: pointer;
        color: gray;
    
    }
   
    .cont2{
        
        width:100%;
        height:120px;
        margin-top: 30px;
        display: flex;
    }
    .cont2>div:nth-child(1){
        width:30%;
        height:120px;
        
        padding-left: 40px;
        color: whitesmoke;
    }
    .cont2>div:nth-child(2){
        width:70%;
        height:120px;
        
        color: whitesmoke;
    }
        #cont3{
           text-align: center;
           width:100%;
           height:40px;
           
           color:whitesmoke;
        }
        .image{
            height:50px;
        }
        .socialmedialogo{
            height:30px;
            margin-right: 10px;
        
            
        }



            /* dropdownnav by deepak */
            

            #navbox{
                border: 2px solid #1F4985;
                height: 50px;
                display: flex;
                justify-content: space-around;
                background-color: #1F4985;
                
            }
            .two{
                color: white;
            }
            .navTitle{
                /* margin-top: 14px; */
                padding: 14px;
                color: white;
                font-family: 'Times New Roman', Times, serif;
            }
            .navTitle:hover{
                background-color: red;
                cursor: pointer;
            }
            
            /* <<<<<<<<<<<<<<<<<<<<<Mobile and Tablets>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
            #mobileNavbar{
                 border: 2px solid rgb(206, 11, 53);
                 
                 width: max-content;
                 margin-top: 20px;
                 margin-left: 30px;
                 display:none;
                 background-color:blue;
            }
            #mobilehover:hover #mobileNavbar{
                display: flex;
                position: absolute;
            }
            
            .smartmobile{
                color: white;
                margin-left: 30px;
            }
            #three{
                background-color: #1F4985;
                border: 1px solid red;
                max-width: 40%;
                min-width: 30%;
            }
            
            /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Televisions>>>>>>>>>>>> */
            #televisionNavbar{
                border: 2px solid rgb(206, 11, 53);
                /* height: 400px; */
                width:max-content;
                 margin-left: 30px;
                 padding: 10px;
                 display: none;
                 background-color: #1F4985;
                 margin-top: 20px;
            }
            #tele:hover #televisionNavbar{
                display:flex ;
                position: absolute;
            }
            .television{
                color: white;
                margin-left: 30px;
            }
            
            /* <<<<<<<<<<<<<<<<<<<<headphones>>>>>>>>>>>>>> */
            #headphonesNavbar{
                border: 2px solid rgb(206, 11, 53);
                /* height: 400px; */
                width: max-content;
                margin-left: 30px;
                margin-top: 20px;
                 display: none;
                 background-color: #1F4985;
            }
            #headph:hover #headphonesNavbar{
                display: flex;
                position: absolute;
            }
            
            .headphones{
                color: white;
                margin-left: 30px;
            }
            /* <<<<<<<<<<<<<<<<<<<<<<<HomeApplinces */
            #homeNavbar{
                border: 2px solid rgb(206, 11, 53);
                /* height: 400px; */
                width: max-content;
                margin-left: 30px;
                 display:none;
                 background-color: #1F4985;
                 margin-top: 20px;
            }
            #home:hover #homeNavbar{
                  display: flex;
                  position: absolute;
            }
            .home{
                color: white;
                margin-left: 30px;
            }   